@CHARSET "UTF-8";

header {
 width:800px;
 min-height:100px;
 height:auto !important;
 height:80px;
 margin-left: auto;
 margin-right: auto;
}

.linkHeader {
          float: center;
}

#userHeader {
          float: right;
}

#title {
float: center
     clear:both;
}

#logo {
	float: left;
}

.main{
	 width:1100px;
	 margin-left: auto;
	 margin-right: auto;
}
